<div class="header-container p-1" id="header">
  <div class="top-right-content">
    <ul class="navbar-nav links-menu flex-row align-items-center">
      <li *ngIf="!isAuthenticated" class="nav-item">
        <span class="nav-link">Welcome Guest</span>
      </li>
      <li *ngIf="isAuthenticated" class="nav-item">
        <span class="nav-link">Welcome {{ userDisplayName }}</span>
      </li>
      <div class="vr m-2"></div>
      <li *ngIf="isAuthenticated" class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
      <li *ngIf="!isAuthenticated" class="nav-item">
        <a [routerLink]="['/login']" class="nav-link">Login</a>
      </li>
      <div class="vr m-2"></div>
      <li class="nav-item">
        <a [routerLink]="['/changeLanguage']" class="nav-link">
          <i class="bi bi-globe"></i> 简体中文
        </a>
      </li>
    </ul>
  </div>

  <div class="bottom-content">
    <div class="logo-container">
      <img
        *ngIf="logo"
        [src]="logo"
        [routerLink]="[isAuthenticated ? '/users' : '/']"
        alt="Logo"
        class="logo-image nav-link"
      />
    </div>

    <ul class="navbar-nav ml-auto mt-0 desktop-menu">
      <li routerLinkActive="active" class="nav-item">
        <a [routerLink]="['/about']" class="nav-link">About PhotoPass</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a [routerLink]="['/gallery']" class="nav-link">Photo</a>
      </li>
      <li routerLinkActive="active" class="nav-item" *ngIf="isAuthenticated">
        <a [routerLink]="['/users']" class="nav-link">Me</a>
      </li>
    </ul>
  </div>
</div>
