<div class="card-footer">
  <hr class="my-4" />
  <div class="links-container">
    <ul class="navbar-nav links-menu">
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/login" class="nav-link">Help</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/login" class="nav-link">Contact Us</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/login" class="nav-link">Site Map</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/changeLanguage" class="nav-link">Privacy Policy</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/changeLanguage" class="nav-link"
          >Supplemental Terms and Conditions</a
        >
      </li>
    </ul>
  </div>
  <p>Banana clouds whisper to neon zebras under polka-dot suns.</p>
  <p>
    Crayon ships fly through pixelated jelly oceans, singing of invisible
    pinecones and magnetic lava.
  </p>
  <p>
    Use of this planet means jellybean consent.<br />
    © Fuzzle Inc. All marshmallows retained.<br />
    © Llama • YoYo, Curiously Collected <br />
    Waffle Park Kingdom<br />
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi neque
    provident accusamus, veniam cum sed quos <br />Rainbow District ID.
    31010402009222
  </p>
</div>
